@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}

/* Ẩn scrollbar khi cần */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Phần kéo có màu xanh đậm */
::-webkit-scrollbar-thumb {
  background-color: #1e3a8a; /* Xanh đậm Tailwind: blue-900 */
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8; /* Xanh sáng hơn một chút: blue-700 */
}
